In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

### 1. Load data and create bankruptcy column

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')

In [3]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

### 2. Create a new dataframe with only 4 feataures (and and Bankruptcy) and rename the columns to X1, X2, X7, and X10

In [4]:
df1 = df[['Attr1', 'Attr2', 'Attr7', 'Attr10', 'bankruptcy']]
df1 = df1.rename(columns={'Attr1':'X1', 'Attr2':'X2', 'Attr7':'X7', 'Attr10':'X10'})

In [5]:
df1.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

### 3. Fill-in the missing values (nan) with the column means

In [6]:
mean = df1[['X1', 'X2', 'X7', 'X10']].mean()
df1[['X1', 'X2', 'X7', 'X10']] = df1[['X1', 'X2', 'X7', 'X10']].fillna(mean)

### 4. Find the mean and std of 3 groups

**4.1 Mean and std of all companies**

In [7]:
df1[['X1', 'X2', 'X7', 'X10']].mean()

X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64

In [8]:
df1[['X1', 'X2', 'X7', 'X10']].std()

X1     0.359303
X2     4.586887
X7     0.533317
X10    4.590064
dtype: float64

**4.2 Mean and std of bankrupcy companies**

In [9]:
df1[df1['bankruptcy']==True][['X1', 'X2', 'X7', 'X10']].mean()

X1    -0.068873
X2     0.878355
X7    -0.061538
X10    0.103367
dtype: float64

In [10]:
df1[df1['bankruptcy']==True][['X1', 'X2', 'X7', 'X10']].std()

X1     0.568076
X2     1.945596
X7     0.568432
X10    1.946747
dtype: float64

**4.3 Mean and std of still-operating companies**

In [11]:
df1[df1['bankruptcy']==False][['X1', 'X2', 'X7', 'X10']].mean()

X1     0.049231
X2     0.580752
X7     0.066162
X10    0.404899
dtype: float64

In [12]:
df1[df1['bankruptcy']==False][['X1', 'X2', 'X7', 'X10']].std()

X1     0.343002
X2     4.689694
X7     0.530524
X10    4.692934
dtype: float64

### 5. Find companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)

In [13]:
df2 = df1[(df1.X1 < (df1.X1.mean() - df1.X1.std())) & (df1.X10 < (df1.X10.mean() - df1.X10.std()))]

In [14]:
print('The number of companies satisfy the condition: ', len(df2))

The number of companies satisfy the condition:  15

In [15]:
df2

           X1       X2       X7      X10  bankruptcy
2312 -1.09270   5.6368 -1.09270  -4.6368       False
2608 -3.72310  11.5300 -3.64240 -10.5300       False
3017 -1.94800  25.0050 -1.94800 -24.0050       False
3739 -0.72685   6.9334 -0.72685  -5.9334       False
4767 -5.96550   6.6818 -5.96550  -5.6818       False
5001 -3.28450  20.4030 -3.28450 -19.4030       False
5259 -0.44000  16.4870 -0.44000 -15.4870       False
5859 -0.32841   6.1187 -0.32841  -5.1187       False
6264 -0.72755   5.2632 -0.72755  -4.2632       False
7846 -1.98410  13.0630 -1.98410 -12.4730       False
8405 -9.29810   9.6992 -9.29810  -8.6992       False
8535 -1.37430   5.7326 -1.37430  -4.7326       False
9584 -4.05060   6.5306 -4.05060  -5.5306        True
9587 -0.65997  40.1570 -0.65997 -39.1560        True
9662 -1.32900  15.0190 -1.32900 -14.0190        True

### 6. The ratio of the bankrupted companies among the sub-groups above

In [16]:
len(df2[df2.bankruptcy==True]) / len(df2)

0.2